@model OnlineWallet.Infrastructure.Dto.TransactionDto

@section scripts
{
    <environment names="Development">
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="~/js/charts.js"></script>
        <script src="~/js/dashboard.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/chart.js/dist/Chart.min.js"></script>
        <script src="~/lib/_app/charts.js"></script>
        <script src="~/lib/_app/dashboard.js"></script>
    </environment>
}

<div class="col-md-11 col-md-offset-1">
    <div id="charts">
        <div class="col-md-5">
            <canvas id="tdwChart"></canvas>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <canvas id="ioChart"></canvas>
        </div>
    </div>
</div>
