<ul class="nav navbar-nav navbar-right">

        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>

</ul>