@model string
<ul class="nav navbar-nav navbar-right">
    
    <li><a href="/swagger">API</a></li>
    <li><a asp-controller="Users" asp-action="Index" id="userHelloEmail">Hello @Model</a></li>
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>

</ul>