@model OnlineWallet.Infrastructure.Commands.Transactions.Withdraw
@{
    ViewBag.Title = "Withdraw";
}
@section scripts
{
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
}

<div class="col-md-6 col-md-offset-3">
    <form asp-action="Withdraw" class="form-horizontal">
        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="col-md-3 control-label">Amount</label>
                <div class="col-md-6">
                    <input asp-for="Amount" type="text" id="amount" class="form-control" placeholder="Amount" style="cursor: auto;" autocomplete="off">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-lg btn-primary">Withdraw</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>