html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 5px;
    clear: both;
}

#push {
    height:40px; 
    clear:both;
}

.footer {
    position: relative;
    margin-top: -40px;
    height: 40px;
    clear: both;
    padding-top: 10px;
    background-color: #485563;
}
