@model OnlineWallet.UI.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Registration";
}

@section scripts
{
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
}


<div class="col-md-6 col-md-offset-3">
    <form asp-action="Register" class="form-horizontal">
        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 control-label">Email</label>
                <div class="col-md-6">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" style=" cursor: auto;" autocomplete="on">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-3 control-label">Password</label>
                <div class="col-md-6">
                    <input asp-for="Password" type="password" id="password" class="form-control" placeholder="Password" style="cursor: auto;" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-3 control-label">Confirm Password</label>
                <div class="col-md-6">
                    <input asp-for="ConfirmPassword" type="password" id="con" class="form-control" placeholder="Password" style="cursor: auto;" autocomplete="off">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="col-md-3 control-label">Full name</label>
                <div class="col-md-6">
                    <input asp-for="FullName" type="text" class="form-control" placeholder="Enter your name" style=" cursor: auto;" autocomplete="off">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

