@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="col-md-6 col-md-offset-3">
    <div class="jumbotron text-center">
        <h2>Welcome to my simple application - <span class="text-info">Online Wallet</span></h2>
        <br /><br />
        <p class="lead">This application is the web app, which simulates main functions of online wallets like Skrill, PayPal, Neteller etc. </p>
        <p class="lead">You can do here things like:</p>
        <ul class="list-unstyled">
            <li>Create an account</li>
            <li>Deposit/withdraw money</li>
            <li>Transfer money between users using just mail address</li>
            <li>See history of transactions with a simple, intuitive dashboard with graphs/diagrams</li>
            <li><del>Manage profile (change password etc.)</del></li>
        </ul>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <p id="homePlead" class="lead text-center">To use my app just take one of the following options:</p>
        <div>
            <a asp-controller="Account" asp-action="Login" class="btn btn-default btn-lg btn-block">Login</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-default btn-lg btn-block">Register</a>
        </div>
    }
</div>